body{
    margin: 0px;
    padding: 0px;
    
}
#Background{

    display: grid;
    grid-template-columns: auto  42em auto;
    grid-template-rows: 8em 28em 8em;
    background-color: grey;
    background-image: url(https://image.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg);
    background-size: cover;
}


#image{
    grid-column: 2/2;
    grid-row: 2/2;
    
    background-image: url(https://image.freepik.com/free-photo/wooden-plank-textured-background-material_53876-33591.jpg);
    background-size: cover ;
    border-radius: 3.5em;
    border-width:1.2em;
    box-shadow: 0.4em 0.4em 1em;
    
    

}
#card{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0,0.3), rgb(146, 146, 146,0));
    border-radius: 3.5em;
    display: grid;
    grid-template-columns:33.3% 53.3% 13.3% ;
    grid-template-rows: 50% 50%;
                            
}

#pic{
    grid-row:1/1;
    grid-column: 1/1;
    background-image: url(greg.jpg);
    background-size: cover;
    
    border-radius: 0.1em;
    border-top-left-radius:3.5em; 
    margin : 1em;
    box-shadow: 0.4em 0.4em 1em;
   

}




#name{
    grid-column: 1;
    grid-row: 2/2;
    color:white;
    text-shadow: 0.4em 0.4em 1em black;
    margin-left:0.35em;
    margin-top: 1em;
    font-size: 3em;
    font-family:sans-serif;
    
    
    
}

.titleSubText{
    
    grid-row: 1/4;
    grid-column: 2/3;
    display: grid;
    
    grid-template-rows: 1.2em 1.2em ;
    grid-row-start:1;
    font-size: 1.8em;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 3em rgb(0, 0, 0), 0 0 3em  rgb(0, 0, 0);
    margin:0.5em 0.1em;
 


    

}
.subText{
    grid-row: 2/2;
    margin-top: 0.1emx;
    font-size:  0.7em;
    color:white;
    font-family:sans-serif;
    text-shadow: 0 0 2em rgb(0, 0, 0), 0 0 2em  rgb(0, 0, 0);

    
}
.icons{
    margin-top: 3.5px;
    grid-row: 2/2;
    grid-column: 3/3;
    color:white;
    text-shadow: 0 0 2em rgb(0, 0, 0), 0 0 2em  rgb(0, 0, 0);
    transition-duration: 1s;
    font-size: 3.2em;
    margin-left:0.3em;
    margin-top: 0.7em;


}
.icons:hover{
    color:black;
    font-size: 4em;
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 2px  rgb(255, 255, 255);

}
